
Book a date for the property <%= @listing.id %>
<%= @listing.name %>
<form method="post" action="/booking/<%= @listing.id %>">
  <input type="date" name="date">
  <input type="submit" value="submit">
</form>
