
<form action='/listings' method='post'  id='listing_form'>
<label for="name"> Name </label>
<br>

<input type="text" name="name">

<br>
<label for="description">Description
<br>
<textarea rows='4' cols='50' name="description" form='listing_form'>
</textarea>
</label>
<br>
<label for="price">Price per night (£)
<br>
<input type="number" name="price">
</label>
<br>
<label for="start_date">Available from (DD/MM/YY)
<br>
<input type="text" name="start_date">
</label>
<br>
<label for="end_date">Available to (DD/MM/YY)
<br>
<input type="text" name="end_date">
</label>
<br>
<input type="submit" name="listing" value="List my Space">

</form>
