<div class="form">
  <form action='/listings' method='post'  id='listing_form'>
    <label for="name"> Name </label>
    <br>
    <input type="text" name="name">
    <br>
    <label for="description">Description </label>
    <br>
    <textarea rows='4' cols='50' name="description" form='listing_form'></textarea>
    <br>
    <label for="price">Price per night (£)</label>
    <br>
    <input type="number" name="price">
    <br>
    <label for="start_date">Available from (YYYY/MM/DD)</label>
    <br>
    <input type="text" name="start_date">
    <br>
    <label for="end_date">Available to (YYYY/MM/DD)</label>
    <br>
    <input type="text" name="end_date">
    <br>
    <input type="submit" name="listing" value="List my Space">
  </form>
</div>
