<!-- should have a  list of all the bookings made with the user id -->
<%@renter_history.each do |listing| %>
<li>
  Name: <%= listing.listing.name %>
  Price: <%= listing.listing.price %>
  Available from: <%= listing.listing.start_date %>
  Available until: <%= listing.listing.end_date %>
</li>
<%end%>
