<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <% if current_user %>
     Aloha, <%= current_user.email %>
   <% end %>
  <% if flash[:notice] %>
  <div id='notice'><%=flash[:notice] %></div>
  <% end %>
<%= yield %>
</body>

</html>
