<div class ="col-xs-6">
<h3> Sign In as an owner</h3>
<form method="post" action="/owner/sessions">
  <label>Email</label> <input type="email" name="email_o">
  <br>
  <label>Password</label> <input type="password" name="password_o">
  <br>
  <input type="submit" value="Sign in as an owner">
</form>
</div>

<div class ="col-xs-6">
<h3> Sign In as a renter</h3>
<form method="post" action="/renter/sessions">
  <label>Email</label> <input type="email" name="email_r">
  <br>
  <label>Password</label> <input type="password" name="password_r">
  <br>
  <input type="submit" value="Sign in as a renter">
</form>
</div>
