<h1> Sign In as an Owner</h1>
<form method="post" action="/owner/sessions">
  <label>Email</label> <input type="email" name="email">
  <br>
  <label>Password</label> <input type="password" name="password">
  <br>
  <input type="submit" value="Sign In">
</form>

<h1> Sign In as a Renter</h1>
<form method="post" action="/renter/sessions">
  <label>Email</label> <input type="email" name="email">
  <br>
  <label>Password</label> <input type="password" name="password">
  <br>
  <input type="submit" value="Sign In">
</form>
