<%@owner_requested_spaces.each do |listing| %>

<li>

  Name: <%= listing.listing.name %>
  Price: <%= listing.listing.price %>
  Available from: <%= listing.listing.start_date %>
  Available until: <%= listing.listing.end_date %>
  <form method='post' action='/'>
  <input type="submit" value="Confirm">

  </form>
</li>

<%end%>
