<%@owner_requested_spaces.each do |listing| %>
<h4><%= listing.name %></h4>
  Price: £<%= listing.price %>
  <br>
  Available from: <%= listing.start_date %>
  <br>
  Available until: <%= listing.end_date %>
<%end%>
