<%@owner_bookings.each do |booking| %>
  <h4><%= booking.listing.name %></h4>
  Date: <%= booking.date %>
  <% if booking.confirmed == false %>
  <form method="post" action="/booking/confirm">
    <input type="hidden" name="booking_id" value="<%= booking.id %>">
    <input type="submit" value="Confirm">
  </form>
  <% else %>
  This booking is confirmed
  <%end%>
<%end%>
