<!-- should have a  list of all the bookings made with the user id -->
<%@renter_history.each do |listing| %>
  <h4> <%= listing.listing.name %> </h4>
  Price: £ <%= listing.listing.price %>
  <br>
  Booked for: <%= listing.date %>
  <br>
  <%if listing.listing.confirmed == true%>
    Confirmed
    <%else%>
    <h6>Waiting for confirmation</h6>
    <button type="button">CANCEL BOOKING</button>
     <%end%>
    <br>
    <br>
<%end%>
