<!-- should have a  list of all the bookings made with the user id -->
<%@renter_history.each do |book| %>
  <h4> <%= book.listing.name %> </h4>
  Price: £ <%= book.listing.price %>
  <br>
  Booked for: <%= book.date %>
  <br>
  <% if book.confirmed %>
    Confirmed
  <%else%>
    <h6>Waiting for confirmation</h6>
  <%end%>
    <br>
<%end%>
