<h1>Sign Up as an Owner</h1>

<form action="/owner/new" method="POST">
  <label for="Email">
    Email:
  </label>
  <input type="email" name="email" required/>
  <br>
  <label for="Password">
    Password:
  </label>
  <input type="password" name="password"/>
  <br>
  <label for="password_confirmation">
    Password confirmation:
  </label>
  <input type="password" name="password_confirmation"/>
  <br>
  <input type="submit" value="Sign Up as an owner">
</form>

<h1>Sign Up as a Renter</h1>

<form action="/renter/new" method="POST">
  <label for="Email">
    Email:
  </label>
  <input type="email" name="email" required/>
  <br>
  <label for="Password">
    Password:
  </label>
  <input type="password" name="password"/>
  <br>
  <label for="password_confirmation">
    Password confirmation:
  </label>
  <input type="password" name="password_confirmation"/>
  <br>
  <input type="submit" value="Sign Up as a renter">
</form>
