<h1>Sign Up</h1>

<form action="/users/new" method="POST">
  <label for="Email">
    Email:
  </label>
  <input type="email" name="email" required/>
  <br>
  <label for="Password">
    Password:
  </label>
  <input type="password" name="password"/>
  <br>
  <label for="password_confirmation">
    Password confirmation:
  </label>
  <input type="password" name="password_confirmation"/>
  <br>
  <input type="submit" value="Sign Up">
</form>
